
@{
    ViewBag.Title = "GetBook";
}

<form method="post" action="PostBook">
    <p>Введите заголовок :</p>
    <input type="text" name="title" />
    <p>Введите имя автора :</p>
    <input type="text" name="author" />
    <input type="submit" value="Отправить" />
</form>

